<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <h3>Terms of Service</h3>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
  <h3>Contact</h3>
  <p>
   <ul>
     <li><a href="https://web.telegram.org/#/im?p=u5005760_12775036344924272028" target="_blank">Telegram</a> / daboehlatresh@gmail.com / <a href="https://www.reddit.com/user/daboehla/" target="_blank">DaBoehla@reddit</a></li>
   </ul>
  </p>
  <h3>Details</h3>
  <p>
    <ul>
      <li>Etherbase: <a href="http://gastracker.io/addr/0xb1401222BA1e099655a460B5ab8E0bAc2A28Ccda" target="_blank">0xb1401222BA1e099655a460B5ab8E0bAc2A28Ccda</a></li>
      <li>1% Poolfee: <a href="/#/account/0xb1401222BA1e099655a460B5ab8E0bAc2A28Ccda">0xb1401222BA1e099655a460B5ab8E0bAc2A28Ccda</a></li><ul>
      <li>10% donation to sammy007 (Pool development): <a href="/#/account/0xb1401222BA1e099655a460B5ab8E0bAc2A28Ccda">0xb1401222BA1e099655a460B5ab8E0bAc2A28Ccda</a></li>
      <li>10% donation to bit_novosti (Etc development): <a href="/#/account/0xb1401222BA1e099655a460B5ab8E0bAc2A28Ccda">0xb1401222BA1e099655a460B5ab8E0bAc2A28Ccda</a></li></ul>
    </ul>
  </p>
</div>
